*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
   
    background-color: #747d8c !important;
    display:flex;
   flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:2rem;
    text-align: center;
    
    
}